div.math {
    text-align: center;
}

div.math span.eqno {
    float: right;
    margin-left: 10px;
}

img.align-middle {
    display: inline-block;
    margin: 10px;
}

.images-row {
    display: flex;
    justify-content: space-around;
}


body p {
    text-align: justify;
}


.centered-figure figcaption p{
    text-align: center !important;
}


